[Unit]
Description=CIRCLE agentdriver
BindsTo=node.service

[Service]
User=cloud
Group=cloud
WorkingDirectory=/home/cloud/agentdriver
Environment="VENV_PATH=/home/cloud/.virtualenvs"
ExecStart=/bin/bash -c "source $VENV_PATH/agentdriver/bin/activate; source $VENV_PATH/agentdriver/bin/postactivate; exec python agentdriver.py"
Restart=always

[Install]
WantedBy=multi-user.target
